$primary-border-color: rgba(#000, 0.1);

$secondary-background-color: #f4f4f4;
$primary-background-color: #fff;

$primary-color: #000;

$primary-font-family: Poppins;

$media-phone: '(max-width: 767px)';
$media-tablet: '(min-width: 768px) and (max-width: 1099px)';
$media-desktop: '(min-width: 1100px)';
